'.source.arm':
  'editor':
    'commentStart': '@'

  'completions': [
    'define'
    'include'
    'global'
    'macro'
    'align'
    'endm'
    'purgem'
    'if'
    'elseif'
    'else'
    'endif'
    'section'
    'text'
    'data'
    'bss'
    'arm'
    'balign'
    'irp'
    'rept'
    'endr'
    'req'
    'unreq'
    'error'
    'short'
    'func'
    'endfunc'
    'hidden'
    'type'
    'fpu'
    'arch'
    'code'
    'altmacro'
    'object_arch'
    'word'
    'int'
    'string'
  ]
